<header class="site-head">
  <div class="container">
    <div class="site-banner" *ngIf="isHome">
      <a aria-current="page" class="" href="/"><h1 class="site-banner-title">Rodzinne przepisy</h1></a>
    </div>
    <nav class="site-nav">
      <div class="site-nav-left">
        <div *ngFor="let category of categories"><a href="/category/{{ category.slug }}/1" class="site-nav-button">{{ category.name }}</a></div>
      </div>
      <div class="site-nav-left">
        <form action="/">
          <label for="q"></label>
          <input type="text" name="q" id="q"/>
          <button type="submit" class="site-nav-button search-button" >Szukaj</button>
        </form>
      </div>
    </nav>
  </div>
</header>


<main class="site-main">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>

